name: Build

on:
  workflow_run:
    workflows: ["Unit Tests"]
    types:
      - completed

  workflow_dispatch:

concurrency:
  group: build-master
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: wxn0brP/rusalka@master
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
